@import url(fonts.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-main-a0: #ff2449;

  --clr-primary-a0: #111111;
  --clr-primary-a10: #1b1b1b;
  --clr-surface-a0: #ababab;
  --clr-surface-a10: #eeeeee;
  --fs-400: 1.3em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--fs-400);
  font-synthesis: none;

  background: var(--clr-primary-a10);
  color: var(--clr-surface-a10);
}

body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

main {
  flex: 1;
  height: 100%;
}

footer {
  flex: 0;
}

button {
  all: unset;
}

p {
  font-size: 1.4em;
}

a {
  font-size: inherit;
  color: #ff2449;
  cursor: pointer;
  pointer-events: all;
}
