@import url(fonts.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-main-a0: #ff2449;

  --clr-primary-a0: #111111;
  --clr-primary-a10: #1b1b1b;
  --clr-surface-a0: #ababab;
  --clr-surface-a10: #eeeeee;
  --fs-400: 1.3em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--fs-400);
  font-synthesis: none;

  background: var(--clr-primary-a10);
  color: var(--clr-surface-a10);
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 80px;
}

#root > main {
  flex: 1;
}

footer {
  min-height: 200px;
}

button {
  all: unset;
}

p {
  font-size: 1.4em;
}

a {
  font-size: inherit;
  color: #ff2449;
  cursor: pointer;
  pointer-events: all;
}

.flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
